.u-section-1 .u-sheet-1 {
  min-height: 700px;
}

.u-section-1 .u-shape-1 {
  width: 417px;
  height: 219px;
  background-image: none;
  margin: 240px auto 0;
}

.u-section-1 .u-text-1 {
  margin: -212px auto 0;
}

.u-section-1 .u-text-2 {
  width: 826px;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    margin-top: 274px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -186px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    margin-top: 262px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -173px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    width: 340px;
    margin-top: 248px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -160px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 809px;
}

.u-section-2 .u-text-1 {
  width: 803px;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 26px 120px 0 169px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  margin: 30px 803px 60px 169px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-right: 20px;
    margin-left: 69px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 703px;
    margin-left: 69px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 552px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 372px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 172px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1121px;
  margin-bottom: 0;
}

.u-section-3 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-3 .u-gallery-1 {
  height: 742px;
  margin-top: 40px;
  margin-bottom: 60px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-gap: 10px 10px;
  grid-template-columns: auto auto auto auto;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-4 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-5 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-6 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-7 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-8 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-8 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-9 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-9 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-10 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-10 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-11 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-11 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-12 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-12 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-13 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-13 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-14 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-14 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-15 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-15 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-16 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-16 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-17 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-17 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-18 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-18 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-19 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-19 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-20 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-20 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-21 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-21 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-22 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-22 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-23 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-23 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-4 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-5 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-6 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-7 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-8 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-9 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-10 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-11 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-12 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-13 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-14 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-15 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-16 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-17 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-18 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-19 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-20 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-21 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-22 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-23 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(4, auto);
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 41px;
    height: 41px;
  }

  .u-section-3 .u-carousel-thumbnail-2 {
    width: 41px;
    height: 41px;
  }

  .u-section-3 .u-carousel-thumbnail-3 {
    width: 41px;
    height: 41px;
  }

  .u-section-3 .u-carousel-thumbnail-4 {
    width: 41px;
    height: 41px;
  }

  .u-section-3 .u-carousel-thumbnail-5 {
    width: 41px;
    height: 41px;
  }

  .u-section-3 .u-carousel-thumbnail-6 {
    width: 41px;
    height: 41px;
  }

  .u-section-3 .u-carousel-thumbnail-7 {
    width: 41px;
    height: 41px;
  }

  .u-section-3 .u-carousel-thumbnail-8 {
    width: 41px;
    height: 41px;
  }

  .u-section-3 .u-carousel-thumbnail-9 {
    width: 41px;
    height: 41px;
  }

  .u-section-3 .u-carousel-thumbnail-10 {
    width: 41px;
    height: 41px;
  }

  .u-section-3 .u-carousel-thumbnail-11 {
    width: 41px;
    height: 41px;
  }

  .u-section-3 .u-carousel-thumbnail-12 {
    width: 41px;
    height: 41px;
  }

  .u-section-3 .u-carousel-thumbnail-13 {
    width: 41px;
    height: 41px;
  }

  .u-section-3 .u-carousel-thumbnail-14 {
    width: 41px;
    height: 41px;
  }

  .u-section-3 .u-carousel-thumbnail-15 {
    width: 41px;
    height: 41px;
  }

  .u-section-3 .u-carousel-thumbnail-16 {
    width: 41px;
    height: 41px;
  }

  .u-section-3 .u-carousel-thumbnail-17 {
    width: 41px;
    height: 41px;
  }

  .u-section-3 .u-carousel-thumbnail-18 {
    width: 41px;
    height: 41px;
  }

  .u-section-3 .u-carousel-thumbnail-19 {
    width: 41px;
    height: 41px;
  }

  .u-section-3 .u-carousel-thumbnail-20 {
    width: 41px;
    height: 41px;
  }

  .u-section-3 .u-carousel-thumbnail-21 {
    width: 41px;
    height: 41px;
  }

  .u-section-3 .u-carousel-thumbnail-22 {
    width: 41px;
    height: 41px;
  }

  .u-section-3 .u-carousel-thumbnail-23 {
    width: 41px;
    height: 41px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 31px;
    height: 31px;
  }

  .u-section-3 .u-carousel-thumbnail-2 {
    width: 31px;
    height: 31px;
  }

  .u-section-3 .u-carousel-thumbnail-3 {
    width: 31px;
    height: 31px;
  }

  .u-section-3 .u-carousel-thumbnail-4 {
    width: 31px;
    height: 31px;
  }

  .u-section-3 .u-carousel-thumbnail-5 {
    width: 31px;
    height: 31px;
  }

  .u-section-3 .u-carousel-thumbnail-6 {
    width: 31px;
    height: 31px;
  }

  .u-section-3 .u-carousel-thumbnail-7 {
    width: 31px;
    height: 31px;
  }

  .u-section-3 .u-carousel-thumbnail-8 {
    width: 31px;
    height: 31px;
  }

  .u-section-3 .u-carousel-thumbnail-9 {
    width: 31px;
    height: 31px;
  }

  .u-section-3 .u-carousel-thumbnail-10 {
    width: 31px;
    height: 31px;
  }

  .u-section-3 .u-carousel-thumbnail-11 {
    width: 31px;
    height: 31px;
  }

  .u-section-3 .u-carousel-thumbnail-12 {
    width: 31px;
    height: 31px;
  }

  .u-section-3 .u-carousel-thumbnail-13 {
    width: 31px;
    height: 31px;
  }

  .u-section-3 .u-carousel-thumbnail-14 {
    width: 31px;
    height: 31px;
  }

  .u-section-3 .u-carousel-thumbnail-15 {
    width: 31px;
    height: 31px;
  }

  .u-section-3 .u-carousel-thumbnail-16 {
    width: 31px;
    height: 31px;
  }

  .u-section-3 .u-carousel-thumbnail-17 {
    width: 31px;
    height: 31px;
  }

  .u-section-3 .u-carousel-thumbnail-18 {
    width: 31px;
    height: 31px;
  }

  .u-section-3 .u-carousel-thumbnail-19 {
    width: 31px;
    height: 31px;
  }

  .u-section-3 .u-carousel-thumbnail-20 {
    width: 31px;
    height: 31px;
  }

  .u-section-3 .u-carousel-thumbnail-21 {
    width: 31px;
    height: 31px;
  }

  .u-section-3 .u-carousel-thumbnail-22 {
    width: 31px;
    height: 31px;
  }

  .u-section-3 .u-carousel-thumbnail-23 {
    width: 31px;
    height: 31px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 23px;
    height: 23px;
  }

  .u-section-3 .u-carousel-thumbnail-2 {
    width: 23px;
    height: 23px;
  }

  .u-section-3 .u-carousel-thumbnail-3 {
    width: 23px;
    height: 23px;
  }

  .u-section-3 .u-carousel-thumbnail-4 {
    width: 23px;
    height: 23px;
  }

  .u-section-3 .u-carousel-thumbnail-5 {
    width: 23px;
    height: 23px;
  }

  .u-section-3 .u-carousel-thumbnail-6 {
    width: 23px;
    height: 23px;
  }

  .u-section-3 .u-carousel-thumbnail-7 {
    width: 23px;
    height: 23px;
  }

  .u-section-3 .u-carousel-thumbnail-8 {
    width: 23px;
    height: 23px;
  }

  .u-section-3 .u-carousel-thumbnail-9 {
    width: 23px;
    height: 23px;
  }

  .u-section-3 .u-carousel-thumbnail-10 {
    width: 23px;
    height: 23px;
  }

  .u-section-3 .u-carousel-thumbnail-11 {
    width: 23px;
    height: 23px;
  }

  .u-section-3 .u-carousel-thumbnail-12 {
    width: 23px;
    height: 23px;
  }

  .u-section-3 .u-carousel-thumbnail-13 {
    width: 23px;
    height: 23px;
  }

  .u-section-3 .u-carousel-thumbnail-14 {
    width: 23px;
    height: 23px;
  }

  .u-section-3 .u-carousel-thumbnail-15 {
    width: 23px;
    height: 23px;
  }

  .u-section-3 .u-carousel-thumbnail-16 {
    width: 23px;
    height: 23px;
  }

  .u-section-3 .u-carousel-thumbnail-17 {
    width: 23px;
    height: 23px;
  }

  .u-section-3 .u-carousel-thumbnail-18 {
    width: 23px;
    height: 23px;
  }

  .u-section-3 .u-carousel-thumbnail-19 {
    width: 23px;
    height: 23px;
  }

  .u-section-3 .u-carousel-thumbnail-20 {
    width: 23px;
    height: 23px;
  }

  .u-section-3 .u-carousel-thumbnail-21 {
    width: 23px;
    height: 23px;
  }

  .u-section-3 .u-carousel-thumbnail-22 {
    width: 23px;
    height: 23px;
  }

  .u-section-3 .u-carousel-thumbnail-23 {
    width: 23px;
    height: 23px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-carousel-thumbnail-1 {
    width: 15px;
    height: 15px;
  }

  .u-section-3 .u-carousel-thumbnail-2 {
    width: 15px;
    height: 15px;
  }

  .u-section-3 .u-carousel-thumbnail-3 {
    width: 15px;
    height: 15px;
  }

  .u-section-3 .u-carousel-thumbnail-4 {
    width: 15px;
    height: 15px;
  }

  .u-section-3 .u-carousel-thumbnail-5 {
    width: 15px;
    height: 15px;
  }

  .u-section-3 .u-carousel-thumbnail-6 {
    width: 15px;
    height: 15px;
  }

  .u-section-3 .u-carousel-thumbnail-7 {
    width: 15px;
    height: 15px;
  }

  .u-section-3 .u-carousel-thumbnail-8 {
    width: 15px;
    height: 15px;
  }

  .u-section-3 .u-carousel-thumbnail-9 {
    width: 15px;
    height: 15px;
  }

  .u-section-3 .u-carousel-thumbnail-10 {
    width: 15px;
    height: 15px;
  }

  .u-section-3 .u-carousel-thumbnail-11 {
    width: 15px;
    height: 15px;
  }

  .u-section-3 .u-carousel-thumbnail-12 {
    width: 15px;
    height: 15px;
  }

  .u-section-3 .u-carousel-thumbnail-13 {
    width: 15px;
    height: 15px;
  }

  .u-section-3 .u-carousel-thumbnail-14 {
    width: 15px;
    height: 15px;
  }

  .u-section-3 .u-carousel-thumbnail-15 {
    width: 15px;
    height: 15px;
  }

  .u-section-3 .u-carousel-thumbnail-16 {
    width: 15px;
    height: 15px;
  }

  .u-section-3 .u-carousel-thumbnail-17 {
    width: 15px;
    height: 15px;
  }

  .u-section-3 .u-carousel-thumbnail-18 {
    width: 15px;
    height: 15px;
  }

  .u-section-3 .u-carousel-thumbnail-19 {
    width: 15px;
    height: 15px;
  }

  .u-section-3 .u-carousel-thumbnail-20 {
    width: 15px;
    height: 15px;
  }

  .u-section-3 .u-carousel-thumbnail-21 {
    width: 15px;
    height: 15px;
  }

  .u-section-3 .u-carousel-thumbnail-22 {
    width: 15px;
    height: 15px;
  }

  .u-section-3 .u-carousel-thumbnail-23 {
    width: 15px;
    height: 15px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1071px;
}

.u-section-4 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-4 .u-gallery-1 {
  height: 850px;
  margin-top: 92px;
  margin-bottom: 0;
  grid-gap: 17px 17px;
  width: 1140px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 17px 17px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-4 .u-gallery-1 {
    height: 702px;
    width: 940px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1128px;
  }

  .u-section-4 .u-gallery-1 {
    height: 2188px;
    width: 720px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2093px;
  }

  .u-section-4 .u-gallery-1 {
    margin-top: 118px;
    height: 1654px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1418px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1060px;
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 521px;
}

.u-section-5 .u-text-1 {
  width: 803px;
  font-size: 1.875rem;
  margin: 89px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  margin: 28px 120px -24px 169px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    width: 803px;
    margin-left: 69px;
    margin-right: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    width: 720px;
  }

  .u-section-5 .u-text-2 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 734px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 580px;
}

.u-section-6 .u-gallery-1 {
  height: 592px;
  margin-top: 60px;
  margin-bottom: 60px;
  grid-gap: 17px 17px;
  width: 1140px;
}

.u-section-6 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-6 .u-gallery-1 {
    height: 349px;
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1128px;
  }

  .u-section-6 .u-gallery-1 {
    height: 802px;
    width: 720px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2093px;
  }

  .u-section-6 .u-gallery-1 {
    height: 1805px;
    width: 540px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1418px;
  }

  .u-section-6 .u-gallery-1 {
    height: 1136px;
    width: 340px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 540px;
}

.u-section-7 .u-layout-wrap-1 {
  width: 1140px;
  margin: 70px 0 100px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-7 .u-container-layout-2 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 253px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 239px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 239px;
  }
}